{% extends "core/base.html" %}
{% block content %}
{% include "core/sections/header.html" %}
<main>
  {% include "core/sections/hero.html" %}
  {% include "core/sections/about.html" %}
  {% include "core/sections/topics.html" %}
  {% include "core/sections/takeaways.html" %}
  {% include "core/sections/gain.html" %}
  {% include "core/sections/committee.html" %}
  {% include "core/sections/stats.html" %}
  {% include "core/sections/sponsorship.html" %}
  {% include "core/sections/matrix.html" %}
  {% include "core/sections/exposition.html" %}
  {% include "core/sections/special.html" %}
  {% include "core/sections/meeting.html" %}
  {% include "core/sections/techhive.html" %}
  {% include "core/sections/gallery.html" %}
  {% include "core/sections/partners.html" %}
  {% include "core/sections/banner.html" %}
  {% include "core/sections/contact.html" %}
  {% include "core/sections/coordinators.html" %}
</main>
{% include "core/sections/footer.html" %}
{% include "core/sections/credits.html" %}
{% endblock %}
